# Build artefakty CMake
/build/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# Vcpkg výstupy (necháváme manifest a vcpkg.json)
vcpkg_installed/
*.log

# Binárky a spustitelné soubory
*.o
*.obj
*.so
*.dll
*.dylib
*.exe
*.out
*.a
*.lib

# IDE a editorové soubory
.idea/
.vscode/
*.code-workspace

# macOS systémové soubory
.DS_Store
.AppleDouble
.LSOverride

# Případné dočasné soubory
*.swp
*.tmp
*.bak
.vs/
out/
build/
out/
